<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-content>
            <form #resetForm="ngForm" *ngIf="!isTokenSend">
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Email"
                      required
                      name="email"
                      [(ngModel)]="user.email">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="handleTokenClick($event)">
                  Send reset token
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>