<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-card-content>
            <form #resetForm="ngForm" *ngIf="!isTokenSend">
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Email"
                      required
                      name="email"
                      [(ngModel)]="user.email">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="handleTokenClick($event)">
                  Send reset token on email
                </button>
            </form>
            <form #resetForm="ngForm" *ngIf="isTokenSend">
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Email token"
                      required
                      name="token"
                      [(ngModel)]="user.passResetToken">
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="New password"
                      type="password"
                      required
                      minlength="6"
                      name="password"
                      ngModel
                      #password="ngModel"
                      [(ngModel)]="user.password">>
                    <mat-icon matSuffix>lock</mat-icon>
      
                  </mat-form-field>
                  <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="handlePassReset($event)">
                  Reset password
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>