<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-tab-group [(selectedIndex)]="tabIndex" preserveContent="true" mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab [disabled]="isFirstTabDisabled" label="Date proprietate">
            <mat-card-content>
              <form #propertyForm="ngForm">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Descriere"
                    required
                    name="description"
                    [(ngModel)]="property.PropertyName">
                </mat-form-field>
                <mat-form-field>
                    <input
                      matInput
                      placeholder="Oras"
                      required
                      name="city"
                      [(ngModel)]="property.City">
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Adresa"
                      required
                      name="address"
                      [(ngModel)]="property.Address">
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Pret listare"
                      required
                      name="value"
                      [(ngModel)]="property.Value">
                  </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="createProperty(propertyForm)">
                 Pasul urmator
                </button>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab [disabled]="isSecondTabDisabled" label="Imagini proprietate">
            <mat-card-content>
                <div class="control-section" style="width: 80%;margin: auto;">
                    <div class="col-lg-9">
                        <div class="control_wrapper">
                            <ejs-uploader #defaultupload [autoUpload]="true" [buttons]="buttons" id='defaultfileupload' [asyncSettings]='path' multiple=true [dropArea]='dropElement'></ejs-uploader>
                        </div>
                    </div>
                  </div>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="createProperty(propertyForm)">
                 Listeaza
                </button>
            </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  
