  <div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" [(selectedIndex)]="tabIndex">
        <mat-tab label="Sign In">
            <mat-card-content>
              <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    [(ngModel)]="credentials.email">
                    <mat-error *ngIf="email.invalid">Adresa de e-mail este obligatorie</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Parola"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                     [(ngModel)]="credentials.password">
                    <mat-error
                      *ngIf="password.errors && password.errors?.['required']">
                      Parola este obligatorie
                    </mat-error>
                     <mat-error
                      *ngIf="password.errors && password.errors?.['minlength']">
                      Parola trebuie sa aiba minim 6 caractere
                     </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button" (click)="login(loginForm)">
                  Sign In
                </button>
              </form>
              <a style="text-align: right; float:right" [routerLink]="['/app-password-reset']">Forgot password</a>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
              <mat-form-field>
                <input
                  matInput
                  placeholder="First name"
                  required
                  name="firstname"
                  ngModel
                  #firstname="ngModel"
                  [(ngModel)]="user.firstName">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="firstname.invalid">
                  First name is required
                </mat-error>
  
              </mat-form-field>  

              <mat-form-field>
                <input
                  matInput
                  placeholder="Last name"
                  required
                  name="lastname"
                  ngModel
                  #lastname="ngModel"
                  [(ngModel)]="user.lastName">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="lastname.invalid">
                  Last name is required
                </mat-error>
  
              </mat-form-field> 

              <mat-form-field>
                <input
                  matInput
                  placeholder="Address"
                  required
                  name="address"
                  ngModel
                  #address="ngModel"
                  [(ngModel)]="user.address">
                <mat-icon matSuffix>home</mat-icon>
                <mat-error
                  *ngIf="address.invalid">
                  Address is required
                </mat-error>
  
              </mat-form-field> 

              <mat-form-field>
                <input
                  matInput
                  placeholder="Phone"
                  required
                  name="phone"
                  ngModel
                  #phone="ngModel"
                  [(ngModel)]="user.phoneNumber">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error
                  *ngIf="phone.invalid">
                  Phone number is required
                </mat-error>
  
              </mat-form-field> 

              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel"
                  [(ngModel)]="user.email">>
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel"
                  [(ngModel)]="user.password">>
                  <mat-error
                    *ngIf="password.errors && password.errors?.['required']">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors?.['minlength']">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors?.['required']">
                    Re-Enter Password is required
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <mat-form-field>
                <mat-label>You are a...</mat-label>
                <mat-select [(value)]="selectedRole" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let role of roles" [value]="role.roleName">
                    {{role.roleName}}
                  </mat-option>
                </mat-select>
      
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>
  
