<div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Address</div>
        <div class="col col-2">Landlord name</div>
        <div class="col col-3">Landlord phone</div>
        <div class="col col-4">Signed</div>
        <div class="col col-5">Tools</div>
      </li>
      <li class="table-row" *ngFor="let contract of contracts" (click)="openContractPage(contract.contractId!)">
        <div class="col col-1" data-label="Address">{{contract.property?.address}}</div>
        <div class="col col-2" data-label="Name">{{contract.property?.user?.firstName + " " + contract.property?.user?.lastName}}</div>
        <div class="col col-3" data-label="Phone">{{contract.property?.user?.phoneNumber}}</div>
        <div class="col col-4" data-label="Signed" *ngIf="contract.signed">Yes</div>
        <div class="col col-4" data-label="Signed" *ngIf="!contract.signed">No</div>
        <div class="col col-5" data-label="Tools">
          <div style="display: flex; justify-content: space-between;flex-wrap: wrap;">
                <button mat-icon-button color="accent" style="color:black" (click)="openContractPage(contract.contractId!)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="deleteContract(contract.contractId!)">
                  <mat-icon>delete</mat-icon>
                </button>
          </div>
      </div>
      </li>
    </ul>
  </div>